@model List<DataAccessLayer.Entities.Organization>

@{
    ViewBag.Title = "Home Page";

    List<DataAccessLayer.Entities.Organization> asd = new List<DataAccessLayer.Entities.Organization>();
    List<DataAccessLayer.Entities.Organization> qwe = new List<DataAccessLayer.Entities.Organization>();
    for (int i = 0; i < 4; i++)
    {
        asd.Add(Model[i]);
    }

    for (int i = 4; i < 8; i++)
    {
        qwe.Add(Model[i]);
    }

}


<div class="jumbotron">
    <div class="container text-center">
        <h1>LORD OF GOKHAN</h1>
        <p>Everything is Possible if you Believe!!..</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h3 style="color:#e22e2e;background-color:antiquewhite;border-radius:5px;">YAKLAŞAN ETKİNLİKLERİMİZ</h3><br>
    <div class="row">
        @foreach (var item in asd)
        {
            <div class="col-sm-3">
                <a href="/Home/OrganizationDetails?id=@item.Id">
                    <p>@item.Name.ToUpper() (@item.OrgDate.ToString("dd/MM/yyyy"))</p>
                    <img src="~/images/@item.ImageUrl" class="img-responsive" style="width:100%" alt="@item.ImageUrl">
                </a>
            </div>
        }

    </div>
</div><br>
@if (Model.Count() > 7)
{
    <div class="container-fluid bg-3 text-center">
        <div class="row">

            @foreach (var item in qwe)
            {
                <div class="col-sm-3">
                    <a href="/Home/OrganizationDetails?id=@item.Id">
                        <p>@item.Name.ToUpper() (@item.OrgDate.ToString("dd/MM/yyyy"))</p>
                        <img src="~/images/@item.ImageUrl" class="img-responsive" style="width:100%" alt="@item.ImageUrl">
                    </a>
                </div>
            }

        </div>
    </div><br><br>
}


